<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
<meta charset="UTF-8">
<title>My Website - About</title>
</head>
<body>
<h1>Delmika Johnson</h1>
<p>Hi! I am a student at UWI Mona, studying Electronics and Computer Science. 
	Outside of school, I enjoy reading, listening to music, trying different foods 
	and learning different languages.</p>

    <img src="{{ url_for('static', filename='bunny.jpg') }}" alt="Bunny" class="bunny"/>
</body>
</html>